<h1>Dashboard</h1>
<div class="container">
	<p class="mute">
		See what are your friends doing!
	</p>
	<div class="section-row">
			<div class="w-50 m-3 section-column maincontent-wrap" *ngFor="let activity of fActivities">
				<div class="card text-left">
					<div class="card-header">
						<a (click)="upvote(activity)"><i class="fas fa-arrow-circle-up"></i></a>
							{{activity?.votes}}
						
						<a (click)="downvote(activity)"><i class="fas fa-arrow-circle-down"></i></a>

					</div>
					<div class="card-body">
						<h5 class="card-title">{{activity?.username}} marked as seen {{activity?.title}}</h5>
					</div>
					<div class="card-footer text-muted">
					  {{activity?.date}} days ago
					</div>
				  </div>
			</div>

	</div>	
</div>